
sudo: required

language: python
python: "3.6"
node_js: "10"
env:
  - YETI_ASYNC_ENABLED=True

services:
  - redis-server

before_install:
  - wget https://www.arangodb.com/repositories/arangodb3/xUbuntu_16.04/Release.key
  - sudo apt-key add Release.key
  - sudo apt-add-repository 'deb https://www.arangodb.com/repositories/arangodb3/xUbuntu_16.04/ /'
  - sudo apt-get update -y
  - sudo apt-get install arangodb3 --allow-unauthenticated
  - npm i -g npm@latest

install:
  - pip install pipenv
  - pipenv install --dev --system --deploy
  - pipenv install codecov
  - cd yeti/web/frontend && npm install
  - cd ../../../

before_script:
  - PYTHONPATH=tests/ rq worker &

script:
  - pytest tests --verbose
  - cd yeti/web/frontend && npm run unit

after_success:
  - codecov

notifications:
  slack:
    secure: 0louuUB5dFQr0kgVDJIlcFEq/tdANgcLrp4bjZyClMyF9UHSgTRROKjSoOz9I3OYscL7Y01ZMya+njHZUJlA7QwUCrxdTmWpaicXfqmAnAAYB8QY59vqiyr8iUq4MbHpkiAMDmIRjmlCrYapJCeFxH6v9AC/Y60E4i6NDwoeup8TYkbnyYxyiq360U1ycSG3xnJ0PvGA5RcCjjl0atKNp3DAYe/KJ8NJapde0bzbL9h7NrcBRNV9gOeJBzFF+UNX1rvqpupaH0XHAkxAKrzaxaAXFfiJb3AamHcwy5w786WpCSRhbjdums20aAqtWqni6IYEO7UJCieGY6CJrj1RUWcC72d4ugyjOhKuSZX1Qkmqz60AOIutvZ+yZF5EpsFnZ265nSJzL7UQeGjQL4+kSaFeoYRyKLg994yFflkTwYX9S6iuMMI6cNDcPOEtPoqo2c15siJmhK+SfZCPsHEIY/4pq3zagI2M2UdgeoabfPQaOpldRt9X5HA6A2+h1zyo83ctrW5gHmgsEkQh7mREpOFXnkB8smdzea53Jlyp/pgBOCpY/URkgD5t0KQGarZkBlNzBtXBvc8jenVzjFvZJ/theRJYvD8zDTC1AICTY7OVY9EjYPW2vn2HBlDwX4isTJZudg5MMHjXnKtCFfElhkkoXwiAd9FdQ7W0HBr0mzQ=
