
sudo: required

language: python
python:
  - "3.6"

services:
   - docker

before_install:
  - docker pull arangodb/arangodb:latest
  - docker pull waisbrot/wait:latest
  - docker run -e ARANGO_ROOT_PASSWORD='' -d -p 8529:8529 --name db arangodb/arangodb:latest
  - docker run --link db:db waisbrot/wait

install:
  - pip install -r requirements.txt
  - pip install --user codecov

script:
  - python -m pytest --cov=./

after_success:
  - codecov
