[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-arango = "*"
marshmallow = "<3"
flask = "*"
flask-classful = "*"
webargs = "*"
tldextract = "*"
pytz = "*"
python-dateutil = "*"
yara-python = "==3.8.1"
url-normalize = "*"
redis = "*"
rq = "*"
stix2 = "==1.3.1"
taxii2-client = "==0.5.0"
pyjwt = "*"
sigmatools = "*"
pyyaml = ">=4.2b1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"e1839a8" = {path = ".", editable = true}
pylint = "*"
codecov = "*"
sphinx = "==1.7.7"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
# yeti = {path = ".", editable = true}

[requires]
python_version = "3.7"

[scripts]
yeticli = "cli/yeticli.py"
yetictl = "cli/yetictl.py"
