[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-arango = "*"
marshmallow = "*"
flask = "*"
flask-classful = "*"
webargs = "*"
tldextract = "*"
pytz = "*"
python-dateutil = "*"
yara-python = "*"
url-normalize = "*"
redis = "*"
rq = "*"
"stix2" = "*"
"taxii2-client" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"e1839a8" = {path = ".", editable = true}
pylint = "*"
codecov = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
yeti = {path = ".", editable = true}

[requires]
python_version = "3.6"

[scripts]
yetictl = "./yetictl"
