[core]

##
## These settings define general Yeti settings.
## If you're using OIDC auth set `auth = oidc` and fill in the oidc section of the config.
##

# secret_key = "CHANGEME"
# auth = local

[arangodb]

##
## Use these settings to configure how to connect to your ArangoDB database.
## All settings are optional, with default values being the one in the comment.
##

# host = 127.0.0.1
# port = 8529
# database = yeti
# username = root
# password = ''

[webserver]

## These settings configure the webserver's behavior when running directly with
## Flask. For production environments, it's recommended to go through UWSGI.

# debug = False
# interface = 127.0.0.1
# port = 5000

[asyncjob]

## Configuration settings for Yeti's asynchronous functionality.

# enabled = False
# redis_server = 127.0.0.1
# redis_port = 6379

[oidc]

# CLIENT_ID = 99999999.apps.googleusercontent.com
# CLIENT_SECRET = blah-blahblah
# GOOGLE_DISCOVERY_URL = https://accounts.google.com/.well-known/openid-configuration
