version: '3.3'
services:

  arangodb:
    image: arangodb
    ports:
      - 8529:8529
    restart: always
    environment:
      - ARANGO_ROOT_PASSWORD=

  yeti:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    ports:
      - 5000:5000
    links:
      - arangodb
    environment:
      - YETI_ARANGO_HOST=arangodb
      - YETI_WEB_DEBUG=true
      - YETI_WEB_LISTEN_INTERFACE=0.0.0.0
      - YETI_WEB_LISTEN_PORT=5000
    restart: always
    depends_on:
      - arangodb
